.headtitle{
    border-radius: 15px;
    font-size: 60px;
    position: relative;
    padding-left: 312px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.headtitle{
    background-color: black;
    color: white;
}
body{
    background-image: url('bg7.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
.container{
    float: left;
    position: absolute;
    border: 10px solid #ffffff3d;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}
.content{
    width: 300px;
    height: 300px;
}
.maincontainer{
    float: left;
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: black
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  .imgtext {
    position: absolute;
    top: 93%;
    left: 29%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    color: white;
    border-radius: 15px;
    padding: 3px;
    background: linear-gradient(to right,red, rgb(0, 140, 255));
  }